<style type="text/css">
div.contain
{
  border-bottom: 1px solid blue;
  height: 35px;
  width: 650px;
  float: center;
  border-style:dashed;
}
div.contain div
{
  float: left;
  diplay:inline;
  width:82px;
  height:25px;
  padding: 4px;
  margin: auto;
  border-right:1px solid green;
  border-left:1px solid green;
  background-color:#fffff7;
  
}
</style>

<div class="contain">
    <div class="result-datum">{@datum}</div>
    <div class="result-locatie">{@plaats}</div>
    <div class="result-type">{@type}</div>
    <div class="result-naam">{@naam}</div>
    <div class="result-categorie">{@categorie}</div>
    <div class="result-resultaat">{@resultaat}/{@deelnemers}</div>
    <div class="result-tijd">{@tijd}</div>
</div>
